extends blog

block blogcontent
  for post in blog.thesePosts
    h2
      a(href=post.name)= post.meta.title
    | !{post.html}
    if post.meta.tags
      p(style="float: right;") Tags: 
        for tag in post.meta.tags
          a.btn.btn-default.btn-sm(href=`tag-${tag}`) #{tag}
          |  
    p Posted: #{post.meta.moment.fromNow()}
    hr.col-md-11
  p
    if blog.nextUrl
      a(href=blog.nextUrl) &laquo; Older Posts
    else
      span &laquo; Older Posts
    |  - Page #{blog.page} of #{blog.pages.length} - 
    if blog.prevUrl
      a(href=blog.prevUrl) Newer Posts &raquo;
    else
      span Newer Posts &raquo;
