extends layout

block content
  div.flex.flex-wrap
    div.p-4(class="w-full lg:w-1/2")
      h3 Input JavaScript
      form#input-form(v-on:submit.prevent="onSubmit" method="post" name="f" :action="action")
        fieldset
          div
            div.input
              textarea#input.w-full.border(name="input" rows="15" wrap="off" autofocus="autofocus" spellcheck="false" v-model="input")
          div.py-4
            button#minify.btn.btn-primary(type="submit" :disabled="!isFormEnabled") Minify
            button#download.btn.btn-secondary(type="button" :disabled="!isFormEnabled" @click="onDownload") Download as File
            button#raw.btn.btn-secondary(type="button" :disabled="!isFormEnabled" @click="onRaw") RAW
            input#clear.btn.btn-secondary(type="button" value="Clear" :disabled="!isFormEnabled" @click="onClear")

    div.p-4(class="w-full lg:w-1/2")
      h3 Minified Output
      form#output-form(name="f")
        fieldset
          div
            div.input
              textarea#output.w-full.border(name="output" rows="15" wrap="soft" :disabled="!output" v-model="output")
          div.py-4
            button#copy.btn.btn-secondary(type="button" :disabled="!output" @click="onCopyToClipboard") Copy to Clipboard
            button#select.btn.btn-secondary(type="button" :disabled="!output" @click="onSelectAll") Select All

  h2 Languages

  include ./include/languages.pug

  .flex.flex-wrap(role="group" aria-label="Plugins and Programs")
    div.pr-8(class="w-full lg:w-1/2")
      h2 Plugins
      include ./include/plugins.pug
    div.pr-8(class="w-full lg:w-1/2")
      h2 Programs
      include ./include/programs.pug

  p (Ends)

  script(
    src=`https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js`
    integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY="
    crossorigin="anonymous"
  )
  script(
    src=`https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js`
    integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ="
    crossorigin="anonymous"
  )
  script(
    src="/s/js/copy-to-clipboard.min.js"
  )
  script(src=`/s/js/main${env.min}.js`)
