doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(
      name="description",
      content=pkg.description
    )
    meta(
      name="keywords",
      content=pkg.keywords
    )
    meta(name="author",content="Andrew Chilton, @andychilton")
    link(rel="shortcut icon",href="/favicon.ico")

    title= title

    link(
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    )
    link(
      href="https://fonts.googleapis.com/css?family=Raleway:500|Source+Sans+Pro"
      rel="stylesheet"
    )
    link(
      href=`/s/css/main${env.min}.css`
      rel="stylesheet"
    )

    if env.nodeEnv === 'production' && env.googleAnalytics
      // Global site tag (gtag.js) - Google Analytics
      script(async="" src=`https://www.googletagmanager.com/gtag/js?id=${env.googleAnalytics}`)
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date()); gtag('config', '#{env.googleAnalytics}');

  body

    include ./include/nav.pug
    include ./include/digital-ocean.pug

    .container.mx-auto

      .flex.justify-between
        div
          h1= pkg.title
          h3= pkg.description
          p Written and hosted by <a href="https://chilts.org/">Andrew Chilton</a> (<a href="https://twitter.com/andychilton">@andychilton</a>) since 2012.
        div.p-6
          if env.nodeEnv === 'production' && env.carbonServe && env.carbonPlacement
            script(
              async
              type="text/javascript"
              src=`//cdn.carbonads.com/carbon.js?serve=${env.carbonServe}&placement=${env.carbonPlacement}`
              id="_carbonads_js"
            )
          else
            p No ads in <code>#{env.nodeEnv}</code>.

      #app
        block content

    include ./include/footer.pug
