!!!
html
  head
    title= title
    meta(
      name="description",
      content="JavaScript Minifier/Compressor. Provides an API. Simple Quick and Fast!")
    link(rel="stylesheet",href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css")
    link(rel="stylesheet",href="/s/css/style#{min}.css")
    script(type="text/javascript")
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-17218498-6', 'javascript-minifier.com');
      ga('send', 'pageview');

  body

    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          a.brand(href="/") javascript-minifier.com
          p Minify your JavaScript - Simple, Quick and Fast!

    div#main.container
      div#ads.row
        div.span4
          h4.muted Our other services:
          a.btn(href="http://cssminifier.com/") CSS Minifier
        div.span8.c
          iframe(
            src="http://rcm.amazon.com/e/cm?t=csmi02-20&o=1&p=48&l=st1&mode=books&search=javascript&fc1=000000&lt1=_blank&lc1=3366FF&bg1=FFFFFF&f=ifr",
            marginwidth="0",
            marginheight="0",
            width="728",
            height="90",
            border="0",
            frameborder="0",
            style="border:none;",
            scrolling="no")

      block content

    div#footer
      div.container
        a(href="/") JavaScript Minifier
        |  - A product of 
        a(href="http://appsattic.com/") AppsAttic
        |  Ltd.

    script(type="text/javascript",src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(type="text/javascript",src="/s/js/ready#{min}.js")
